#title{
font-family:'Playfair Display', Georgia, serif;
font style: italic;
font weight:900;
letter-spacing:-1px;
line-height:1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffa500;

}
#main {
	font-family: 'Playfair Display',serif;
	font-size:40px;
	text-align: center;
}
#descr {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 15px;
}