<div class="error" ng-show="showError">I'm sorry, be more positive!!</div>
<input ng-model="newPropsValue">
<select ng-options="b.id as b.first_name + b.last_name for b in brus track by b.id" ng-model="selectedBru"></select>
<button ng-click="sendProps()">Send Props!</button>

<button ng-click="reloadFeed()">Refresh!</button>
<div class="feed"> 
<h3>Feed:</h3>
<ul>
	<li ng-repeat="prop in propsArray">
	<p class="proptext"><p id="name">{{prop.receiver.first_name}} {{prop.receiver.last_name}}:</p> "{{prop.text}}"</p>
	<p class="positivity">positivity score= {{prop.positivity_score}}</p>
	</li>
</ul>
</div>