*{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	box-sizing: border-box;
}
.header {
	background-color: rgba(77, 63, 181, 0.82);
	height: 100px;
}
h1{
	color:white;
	text-transform: uppercase;
	padding-top: 10px;
	padding-left: 10px;
	margin: 0px;
	display: inline-block;
}
ul{
	list-style: none;
}
li{
	padding-top: 20px;
	border-bottom: solid rgba(0,0,0,.3) 2px;
}

.proptext{
	padding-bottom: 5px;
}
.error{
	background-color: rgb(226, 216, 184);
	height:80px;
	text-align: center;
	padding-top: 40px;
	color: red;
	font-style: italic;
	transition: .3s;
}
#name{
	font-weight: bold;
}
a {
	color:white;
	float:right;
	margin-right: 30px;
	margin-top: 20px;
	text-decoration: none;
	transition: .3s;
}
a:hover{
	text-decoration: underline;
}
a:active{
	color:black;
}
.isDisplayed{
	opacity: .4;
	pointer-events: none;
	transition: .3s;
}
.positivity{
	text-transform: uppercase;
	color:green;
	font-style: italic;
	font-size: 10px;
}
.btn{
	padding:20px;
	border-radius: 20px;
	background-color: rgba(77, 63, 181, 0.6);
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	color: white;
}
.btn:hover {
	background-color: white;
	color: rgba(77, 63, 181, 0.82);
	border: solid rgba(0,0,0,.3) 2px;
}
#ref:active {
	background-color: black;
}