*{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.header {
	background-color: rgba(77, 63, 181, 0.82);
	height: 100px;
}
h1{
	color:white;
	text-transform: uppercase;
	padding-top: 10px;
	padding-left: 10px;
	margin: 0px;
	display: inline-block;
}
ul{
	list-style: none;
}
li{
	padding-top: 20px;
	border-bottom: solid rgba(0,0,0,.3) 2px;
}

.proptext{
	padding-bottom: 5px;
}
.error{
	background-color: rgb(226, 216, 184);
	height:80px;
	text-align: center;
	padding-top: 30px;
}
#name{
	font-weight: bold;
}
a {
	color:white;
	float:right;
	margin-right: 30px;
	margin-top: 20px;
	text-decoration: none;

}
.positivity{
	text-transform: uppercase;
	color:green;
	font-style: italic;
	font-size: 10px;
}
button{
	height: 50px;
	border-radius: 20px;
	background-color: 
}